@font-face {
	font-family: 'Sergio Trendy';
	src: url("../src/FontsFree-Net-Sergio-Trendy-Regular.ttf") format("truetype")
}

body{
    background-color: #d4b099;
    /* evite la scrolbar horizonral qui apparait sans raison */
    overflow-x: hidden;
}

/* mettre la bordure à 2 ou 3 px pour voir les div */
div{
    border: 0px;
    border-color: red;
    border-style: solid;
}

/* serie de classe pour le bandeaux d'acceuil */
.header{
    margin-top: 3px;
}
.div_menu_rapide{
    top: 300px;
    left: 0px;
    width: 300px;
    height: 91px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    background-color: #331E11;
    box-shadow: 5px 2px 2px #a1826f;
    font-size: 24px;
    font-family: 'Sergio Trendy';
}
.div_menu_rapide a{
    color: #94847B;
    text-decoration: none;
}
.div_menu_rapide a:hover{
    text-decoration: underline;
}

.img_background_header{
    display: flex;
    position: absolute;
    top: 98px;
    left: 0px;
    width: 100%;
    height: 612px;
    opacity: 0.25;
    z-index: -2;
}
.header-img{
    margin-left: auto;
    margin: auto;
    display: block;
    z-index: -1;
}
.header_title{
    font-family: 'Sergio Trendy';
    font-size: 28px;
    font-optical-sizing: auto;
    position: relative;
    color: #201E37;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 1000;
    background-color: #ffffff00;
    margin-left: auto;
    margin: auto;
    display: block;
    text-align: center;
}

/* scrollbar customisé */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(77, 65, 0, 0); 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: #331E11; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #331E11; 
}

/* style de la barre de menu */
.static_header{
    z-index: 3;
    background-color: #331E11;
    position: sticky;
    top: 3px;
    width: 100%;
    height: 65px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
}
.static_header button{
    float: right;
    color: #543E31;
    background-color: #ffffff00;
    font-size: 28px;
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Sergio Trendy';
}
.static_header .active{
    color: #94847B;
    background-color: #543E31;
    font-size: 28px;
}
.static_header button:hover{
    text-decoration: underline;
    background-color: #94847B;
    box-shadow: 5px 2px 2px #543E31;
    color: #543E31;
}
.static_header img{
    float: left;
    height: 60px;
    width: 140;
    margin-left: 6px;
    margin-right: 20px;
}

/* classe pour les titres*/
.title{
    color: #201E37;
    font-family: 'Sergio Trendy';
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}


/* classe pour le div qui vas contenir les produits en présentation */
.div_produit_example{
    float: left;
    width: 50%;
}
.div_produit_example img{
    background-color: #ffffff00;
    margin-left: auto;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 60px;
    box-shadow: 5px 2px 2px #a1826f;
    width: 800px;
    height: 1200px;
}
.div_produit_example p{
    color: #201E37;
    font-family: 'Sergio Trendy';
    font-size: 24px;
    text-align: center;
}


.carte{
    border: 2px;
    border-color: #201E37;
    border-style: solid;
    border-radius: 30px;
    margin-right: 200px;
    margin-left: 200px;
}
.carte img{
    height: 60px;
    width: 60px;
    margin-left: 48.5%;
}
.carte .categorie_title{
    color: #201E37;
    font-family: 'Sergio Trendy';
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}
.carte table{
    margin-left: 20%;
    color: #201E37;
    font-family: 'Sergio Trendy';
    font-size: 24px;
    text-align: center;
}
.carte td{
    text-align: left;
}
.carte th{
    text-align: right;
    width: 300px;
}
.carte_title_div{
    margin-left: 35%;
    margin-right: 35%;
    height: 55px;
    border-radius: 30px;
    background-color: #331E11;
}
.carte_title{
    color: #543E31;
    font-family: 'Sergio Trendy';
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

footer{
    background-color: #331E11;
    color:#a1826f;
    background-position-y:bottom;
    padding-top: 20px;
    height: 50px;
    text-align: center;
    font-family: 'Sergio Trendy';
    font-size: 20px;
    border-radius: 40px;
}